
@{
    ViewBag.Title = "AddInfo";
    Layout = "~/Views/Service/MasterView.cshtml";
}
<link rel="Stylesheet" href="~/Content/css/AddInfo.css" type="text/css" />

<div class="Greetings">
    <h3>Спасибо за вашу заявку.</h3>
    <h3>Мы свяжемся с вами в ближайшее время</h3>
    <br />
</div>
