    
@{
    Layout = "MasterPage.cshtml";
}

<div class="discont-text text-center">
    <h3>Лучшие предложения: </h3>
</div>
<div class="slider">
    <!-- Carousel begin-->
    <!-- Карусель -->
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Индикаторы для карусели -->
        <ol class="carousel-indicators">
            <!-- Перейти к 0 слайду карусели с помощью соответствующего индекса data-slide-to="0" -->
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <!-- Перейти к 1 слайду карусели с помощью соответствующего индекса data-slide-to="1" -->
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <!-- Перейти к 2 слайду карусели с помощью соответствующего индекса data-slide-to="2" -->
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Слайды карусели -->
        <div class="carousel-inner  text-center">
            <!-- Слайды создаются с помощью контейнера с классом item, внутри которого помещается содержимое слайда -->
            <div class="active item">
                <h2>Акция</h2>
                <div class="carousel-caption">
                    <h3>Молочная железа + щитовидная железа</h3>
                    <p class="price">200 гривен</p>
                </div>
            </div>
            <!-- Слайд №2 -->
            <div class="item">
                <h2>Акция</h2>
                <div class="carousel-caption">
                    <h3>УЗИ у вас дома(по Киеву)</h3>
                    <p>500 гривен</p> 
                </div>
            </div>
            <!-- Слайд №3 -->
            <div class="item">
                <h2>Акция</h2>
                <div class="carousel-caption">
                    <h3>Узи брюшной полости + консультация гастроэнтеролога</h3>
                    <p>250 гривен</p>
                </div>
            </div>
        </div>
    </div>

    <!--End of carousel -->
    <article id="left-paragraph">
        <div class="about_company">
            <div class="col-lg-5">
                <img src="/Content/img/uzi-women.png" alt="" width="256">
            </div>
            <div class="col-lg-7">

                <h4 class="Title_base">Актуальность УЗД:</h4>

                <p>	УЗ  является наиболее достоверным и безопасным методом диагностики, а врач УЗД востребован в любой области медицины. Ультразвук способен раскрыть проблемы не только в гинекологии, акушерстве, флебологии, терапии, педиатрии... 
                Но даже в офтальмологии в последнее время УЗ используют для постановки диагноза при заболеваниях глаз. УЗД и в будущем будет развиваться во всех направлениях медицины.
                </p>
            </div>


            <h4 class="Title_base">УЗИ на дому:</h4>


            <p>
                Раньше проведение УЗИ было возможно лишь в условиях стационара или поликлиники. Однако с усовершенствованием
                медицинской техники для ультразвукового сканирования стало совсем не обязательно ехать в больницу. Врачи нашей
                клиники смогут сами приехать к пациенту и провести процедуру. Особенно востребована эта услуга среди пожилых людей и лежачих больных.

                <h4 class="Title_base">Вредно ли УЗИ? </h4>
            <p>
                На сегодняшний день УЗ диагностика    во всем мире признана безопасной процедурой: в ней
                используются УЗ волны с частотой,при
                которой волны не проникают в  исследуемый орган, а   отражаются от него   и передаются на экран аппарата в виде изображения,что совершенно безвредно для организма.
                С помощью ультразвука общаются самые большие морские млекопитающие- киты  и дельфины.Они издают УЗ волны определенной частоты, которые   не вредят их здоровью.
            </p>
            <h4 class="Title_base">Консультация гастроэнтеролога:</h4>

            <p>
                <b>Гастроэнтеролог</b> — это специалист в области диагностики, лечения и профилактики заболеваний желудочно-кишечного тракта. Желудочно-кишечный тракт начинается с ротовой полости, пищевода, желудка 
                , печени, желчного пузыря, желчевыводящих путей, поджелудочной железы, тонкого кишечника и заканчивается толстым . Консультация гастроэнтеролога может потребоваться при наличии следующих симптомов:
                <ol>
                    <li>отрыжка</li>
                    <li>боль и дискомфорт в животе</li>
                    <li>изжога</li>
                    <li>запоры или диарея</li>
                    <li>отсутствие аппетита или извращение вкуса, похудание</li>
                    <li>вздутие живота, метеоризм</li>
                    <li>тошнота, рвота.</li>
                </ol>
               <p> Приём гастроэнтеролога включает в себя опрос пациента, сбор жалоб и данных о питании, образе жизни. Также проводится осмотр живота, поверхностная и глубокая пальпация (прощупывание) органов брюшной полости.
            </p>
            <br>
            <h4 class="Option_info">Предварительно просим связаться с нами или оставить заявку.</h4>
        </div>
    </article>
</div>

