
@{
    Layout = "~/Views/Home/MasterPage.cshtml";
    ViewBag.Title = "About";

}
<link rel="Stylesheet" href="~/Content/css/About.css" type="text/css" />

<h3>О нас</h3>
<h5 class="introd">Позвольте нам представиться.</h5>
<h5>УЗИ кабинет - молодой коллектив, в котором работают отличные специалисты.</h5>
<h5>Мы специализируемся на предоставление услуг в сфере УЗИ и гастроэнтерологии.</h5>
<p>Наши работники - однозначные специалисты в своих областях, которые гарантированно 
   предоставят вам качевственное обслуживание по самым низким ценам в Киеве. </p>
<p>Любая медицинская  помощь должна быть качественной и своевременной. 
    Поэтому врачи нашего центра ориентированы на достижение лучших результатов, на индивидуальный подход к пациенту.
     Мы производим предварительную запись на удобное Вам время, также существует гибкая система скидок , регулярно проводятся акции.
    В услугах нашего центра есть выезд специалиста на дом с УЗ аппаратурой, что может быть удобно для лежачих больных и во время эпидемий гриппа.
    После УЗ исследования Вы можете получить консультацию гастроэнтеролога, педиатра, других специалистов, пройти лабораторные исследования.</p>
<div id="fotoCapture">
  
        
    </div>
