      
                    <div id="Autorize">
                        <form id="AutorizeForm">
                            <input id="Login" type="text" value="Логин" />
                            <input id="Pas" type="text" value="Пароль" />
                            <input id="Submit" type="submit" value="Отправить" />
                        </form>
                        <form action="/Home/Register" method="get">
                            <button id="register" href="">
                                Зарегистрироваться
                            </button>
                        </form>
                    </div>
<script defer src="~/Scripts/jquery-1.10.2.min.js"></script>
<script defer src="~/Scripts/jquery.cookie.js"></script>
<script defer src="~/Scripts/Index.js"></script><!--My scripts using jquery and jcookie-->