<div id="Register">
    <form id="RegisterForm">
        <input id="Login" type="text" value="Логин" />
        <input id="Pas" type="text" value="Пароль" />
        <input id="Name" type="text" value="Имя" />
        <input id="FName" type="text" value="Фамилия" />
        <input id="Male" type="radio" value= "Мужской" />Мужской
        <input id="FMale" type="radio" value="Женский" />Женский
        <input id="Submit" type="submit" value="Отправить" />
    </form>
</div>
<script defer src="~/Scripts/jquery-1.10.2.min.js"></script>
<script defer src="~/Scripts/jquery.cookie.js"></script>
<script defer src="~/Scripts/Register.js"></script>